<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->
<style>
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
</style>
<div class="portfolio-modal modal fade" id="tablero-pnd" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-2" style="margin: 0px;">
          <div class="modal-body">
            <h2>Tablero PND</h2>
            <hr class="star-primary">

            <div class="actions col-md-12">
              <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom"  title="Da click sobre una estrategia para poder ver su detalle." aria-hidden="true"></i>
            </div>

            <div class="board">
              <div class="axis poverty">
                <div class="strategy" data-axis="1" data-line="0">
                  <%= image_tag('poverty.png', class: 'pnd')%>
                  <%= image_tag('poverty2.png', class: 'pnd hover')%>
                  <div>Reducción de pobreza y desarrollo social</div>
                </div>
                <div class="strategy" data-axis="1" data-line="1">
                  <div class="amount" id="strategy11"></div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy" data-axis="1" data-line="2">
                  <div class="amount" id="strategy12"></div>
                  <span class="description">Servicios sociales de calidad</span>
                </div>
                <div class="strategy" data-axis="1" data-line="3">
                  <div class="amount" id="strategy13"></div>
                  <span class="description">Desarrollo local participativo</span>
                </div>
                <div class="strategy" data-axis="1" data-line="4">
                  <div class="amount" id="strategy14"></div>
                  <span class="description">Hábitat adecuado y sostenible</span>
                </div>
              </div>
              <div id="details-axis1"></div>
              <div class="axis economy">
                <div class="strategy" data-axis="2" data-line="0">
                  <%= image_tag('economy.png', class: 'pnd')%>
                  <%= image_tag('economy2.png', class: 'pnd hover')%>
                  <div>Crecimiento económico inclusivo</div>
                </div>
                <div class="strategy" data-axis="2" data-line="1">
                  <div class="amount" id="strategy21"></div>
                  <span class="description">Empleo y seguridad social</span>
                </div>
                <div class="strategy" data-axis="2" data-line="2">
                  <div class="amount" id="strategy22"></div>
                  <span class="description">Competitividad e innovación</span>
                </div>
                <div class="strategy" data-axis="2" data-line="3">
                  <div class="amount" id="strategy23"></div>
                  <span class="description">Regionalización y diversificación productiva</span>
                </div>
                <div class="strategy" data-axis="2" data-line="4">
                  <div class="amount" id="strategy24"></div>
                  <span class="description">Valorización del capital ambiental</span>
                </div>
              </div>
              <div id="details-axis2"></div>
              <div class="axis insertion">
                <div class="strategy" data-axis="3" data-line="0">
                  <%= image_tag('insertion.png', class: 'pnd')%>
                  <%= image_tag('insertion2.png', class: 'pnd hover')%>
                  <div>Inserción de Paraguay en el mundo</div>
                </div>
                <div class="strategy" data-axis="3" data-line="1">
                  <div class="amount" id="strategy31"></div>
                  <span class="description">Igualdad de oportunidades en un mundo globalizado</span>
                </div>
                <div class="strategy" data-axis="3" data-line="2">
                  <div class="amount" id="strategy32"></div>
                  <span class="description">Atracción de inversiones, comercio exterior e imagen país</span>
                </div>
                <div class="strategy" data-axis="3" data-line="3">
                  <div class="amount" id="strategy33"></div>
                  <span class="description">Integración económica regional</span>
                </div>
                <div class="strategy" data-axis="3" data-line="4">
                  <div class="amount" id="strategy34"></div>
                  <span class="description">Sostenibilidad del hábitat global</span>
                </div>
              </div>
            </div>
            <div id="details-axis3">
              <div id="strategy-details" class="strategy-details" style="display: none">
                <div class="row" >
                  <div class="col-md-8">
                    <div style="width: 100%">
                      <canvas id="pnd-canvas" width="800" height="450"></canvas>
                    </div>
                  </div>
                  <div class="col-md-4" style="display: table;height: 400px;">
                    <div style="display: table-cell; vertical-align: middle;">
                      <h2>PROGRESO</h2>
                      <h1 style="color: green">92%</h1>
                      <h1 style="color: orange">80%</h1>
                      <h1 style="color: red">69%</h1>
                    </div>
                  </div>
                </div>

                <div class="strategy bg-purple" >
                  <div id="beneficiaries" class="amount col-md-8">55</div>
                  <i class="fa fa-users col-md-4" aria-hidden="true"></i>
                  <span class="description">Beneficiarios</span>
                </div>

                <div class="strategy bg-orange" >
                  <div id="institutions" class="amount col-md-8">55</div>
                  <i class="fa fa-building col-md-4" aria-hidden="true"></i>
                  <span class="description">Instituciones</span>
                </div>

                <div class="strategy bg-green" >
                  <div id="money" class="amount col-md-8">55</div>
                  <i class="fa fa-money col-md-4" aria-hidden="true"></i>
                  <span id="money-detail" class="description" >Inversión</span>
                </div>

                <div class="strategy bg-blue">
                  <div id="objective" class="amount col-md-8">55</div>
                  <i class="fa fa-link col-md-4" aria-hidden="true"></i>
                  <span class="description">Motivos</span>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
          </div>
        </div>
      </div>
      <div id="disqus_thread"></div>
    </div>
  </div>
</div>

