<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->
<style>
  #map {
    height: 700px;
    border: 1px solid black;
  }
</style>
<header>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="<%= image_url('icon.png') %>" alt="" style="max-width: 20%;">
        <div class="intro-text">
          <h1 class="name">Caminando al 2030</h1>
          <hr class="star-light">
          <span class="skills">Datos abiertos del Gobierno Paraguayo</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio" style="padding: 50px">
  <div class="container" style="width: auto;">
    <div class="row" style="width: auto;">
      <div class="col-md-4 col-xs-12 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal" style="max-width: none;">

          <div class="caption">
            <div class="caption-content">
              <h3>NACIONAL</h3>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= image_url('nac.png') %>" class="img-responsive" style="width: 100%"  alt="Slice of cake">
        </a>
      </div>
      <div id="item-map" class="col-md-4 col-xs-12 portfolio-item">
        <a href="#portfolioModal1" id="modal2-portfolio-link" class="portfolio-link not-active" data-toggle="modal" style="max-width: none;">
          <div id="modal2-overlay" class="overlay">
            <div class="spinner"></div>
          </div>

          <div class="caption">
            <div class="caption-content">
              <h3>DEPARTAMENTAL</h3>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= image_url('dep.jpg') %>" class="img-responsive" style="width: 100%" alt="Cabin">
        </a>
      </div>
      <div id="item-progress" class="col-md-4 col-xs-12 portfolio-item">
        <a href="#portfolioModal3" id="modal3-portfolio-link" class="portfolio-link not-active" data-toggle="modal" style="max-width: none;">
          <div id="modal3-overlay" class="overlay">
            <div class="spinner"></div>
          </div><div class="caption">
            <div class="caption-content">
              <h3>INSTITUCIONAL</h3>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= image_url('edificio.jpg') %>" class="img-responsive" style="width: 100%"  alt="Circus tent">
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->
<%=render 'heat_map'%>
<%=render 'entity_chart'%>
<%=render 'progress_chart'%>
<%=render 'contact_form'%>
<%=render 'info'%>


<script>
    var pgn_years = <%=  @pgn_years %>;
    var pgn_months = <%=  @pgn_months %>;
    var pnd_years = <%= @pnd_years %>;

    var inst_count = <%= @inst.count() %>;
    var inst_nombre = [];
    var inst_nivelid = [];
    var inst_entidadid = [];

    <% @inst.each do |institute| %>
      inst_nombre.push('<%=institute[0] %>');
      inst_nivelid.push('<%=institute[1] %>');
      inst_entidadid.push('<%=institute[2] %>');
    <% end %>

    $(".toggle").change(function() {
        if (!$(this).prop('checked')) {
            $('#lg-tec-'+this.id).css('display', 'none');
            $('#lg-user-'+this.id).css('display', 'block');
        }else {
            $('#lg-tec-'+this.id).css('display', 'block');
            $('#lg-user-'+this.id).css('display', 'none');
        }
    });
</script>


<div id="map" class="container-chart"></div>
<script>
    $( document ).ready(function() {
        Window.map = L.map("map", {minZoom: 6, maxZoom: 6, doubleClickZoom: false}).setView([-23.5, -58.5], 6);
        Window.map.dragging.disable();

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(Window.map);
        $.getJSON('/paraguay.json', function (geoJSONdata) {
            var geoJSONgroup = L.geoJSON(geoJSONdata).addTo(Window.map);

            geoJSONgroup.eachLayer(function (layer) {
                if (layer.feature.properties.name === "Paraguay") {
                    Window.map.fitBounds(layer.getBounds());
                }
            });
            geoJSONgroup.on('click', function(e) { console.log(e.layer) });

            console.log(Window.map);
        });
    });

    window.onload = function() {
        var ctx2 = document.getElementById("line-canvas").getContext("2d");
        window.myBar2 = new Chart(ctx2, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Proyectos de la Institucion Seleccionada'
                }
            }
        });

        var ctx_latest = document.getElementById("cost-advance-line-canvas").getContext("2d");
        window.mySecongLine = new Chart(ctx_latest, config2);


        //entity chart
        loadYearsSelect();
        loadInstitutesSelect();
        var dataSet;
        var year  = pgn_years[0][0];
        $.ajax({
            method: "GET",
            url: "search/search",
            data: {"year" :year, "q" : "entity_progress"}
        })
            .done(function( msg ) {
                progress_line_init(msg);
                $('#modal3-portfolio-link').removeClass('not-active');
                $('#modal3-overlay').hide();
                $(".trigerSelect").select2({ width: '100%', language: "select2-es"});
            });
    };
</script>
