<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->
<style>
  #map {
    height: 700px;
    border: 1px solid black;
  }
</style>
<header>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="<%= image_url('icon.png') %>" alt="" style="max-width: 20%;">
        <div class="intro-text">
          <h1 class="name">Caminando al 2030</h1>
          <hr class="star-light">
          <span class="skills">Datos abiertos del Gobierno Paraguayo</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="actions col-xs-12">
  <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" title="Navega entre las diferentes secciones dando click sobre las mismas." aria-hidden="true"></i>
</div>

<!-- Portfolio Grid Section -->
<section id="portfolio" style="padding-bottom: 0px; padding-left: 20px; padding-right: 20px; padding-top: 40px;">
  <div class="container" style="width: 80%;">
    <div class="row" style="width: auto;">
      <div class="col-md-4 col-xs-12 portfolio-item">
        <a href="#tablero-pnd" id="modal1-portfolio-link" class="portfolio-link not-active" data-toggle="modal" style="max-width: none;">
          <h1 style="POSITION: absolute;
              color: white;
              bottom: 54%;
              width: 100%;
              text-align: center; z-index: 3;">TABLERO</h1>
          <div id="modal1-overlay" class="overlay">
            <div class="spinner"></div>
          </div>
          <div class="caption">
            <div class="caption-content">
              <h3>NACIONAL</h3>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= image_url('icon2.png') %>" class="img-responsive" style="width: 100%"  alt="Slice of cake">
        </a>
      </div>
      <div id="item-map" class="col-md-4 col-xs-12 portfolio-item">
        <a href="#ejecucion-departamental" id="modal2-portfolio-link" class="portfolio-link not-active" data-toggle="modal" style="max-width: none;">
          <h1 style="POSITION: absolute; color: white; bottom: 54%; width: 100%; text-align: center; z-index: 3;">GRÁFICO</h1>

          <div id="modal2-overlay" class="overlay">
            <div class="spinner"></div>
          </div>

          <div class="caption">
            <div class="caption-content">
              <h3>DEPARTAMENTAL</h3>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= image_url('icon3.png') %>" class="img-responsive" style="width: 100%" alt="Cabin">
        </a>
      </div>
      <div id="item-progress" class="col-md-4 col-xs-12 portfolio-item">
        <a href="#ejecucion-institucional" id="modal3-portfolio-link" class="portfolio-link not-active" data-toggle="modal" style="max-width: none; z-index: 3;">
          <h1 style="POSITION: absolute;
              color: white;
              bottom: 54%;
              width: 100%;
              text-align: center; z-index: 3;">PROGRESO</h1>
          <div id="modal3-overlay" class="overlay">
            <div class="spinner"></div>
          </div>
          <div class="caption">
            <div class="caption-content">
              <h3>INSTITUCIONAL</h3>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= image_url('icon4.png') %>" class="img-responsive" style="width: 100%"  alt="Circus tent">
        </a>
      </div>
    </div>
  </div>
</section>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->
<%=render 'heat_map'%>
<%=render 'entity_chart'%>
<%=render 'progress_chart'%>
<%=render 'contact_form'%>
<%=render 'info'%>


<script>
    var pgn_date = <%= @pgn_date %>;
    var pnd_years = <%= @pnd_years %>;

    var year  = pnd_years[2][0];
    loadYearsSelect();
    console.log($('#yearSelectProgress').val());
    $.ajax({
        method: "GET",
        url: "search/search",
        data: {"ip" : localStorage.getItem("clientIp"), "year" :year, "q" : "entity_progress"}
    })
        .done(function( msg ) {
            $('#progress-quantity-visits').text(msg[2]['cantidad_vistas']);
            $('#progress-quantity-downloads').text(msg[3]['cantidad_descargas']);
            progress_line_init(msg);
            $('#modal3-portfolio-link').removeClass('not-active');
            $('#modal3-overlay').hide();
            $(".trigerSelect").select2({ width: '100%', language: "select2-es"});
        });


    $(".toggle").change(function() {
        if (!$(this).prop('checked')) {
            $('#lg-tec-'+this.id).css('display', 'none');
            $('#lg-user-'+this.id).css('display', 'block');
        }else {
            $('#lg-tec-'+this.id).css('display', 'block');
            $('#lg-user-'+this.id).css('display', 'none');
        }
    });
</script>

<script>
  function openTab(name) {
    var i;
    var x = document.getElementsByClassName("departmentTab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(name).style.display = "block";
  }
  function openProgressTab(name) {
    var i;
    var x = document.getElementsByClassName("progressTab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(name).style.display = "block";
  }
</script>