<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->
<style>
  #map {
    height: 700px;
    border: 1px solid black;
  }
</style>
<header>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="<%= image_url('icon.png') %>" alt="" style="max-width: 20%;">
        <div class="intro-text">
          <h1 class="name">Caminando al 2030</h1>
          <hr class="star-light">
          <span class="skills">Datos abiertos del Gobierno Paraguayo</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio" style="padding-bottom: 0px; padding-left: 20px; padding-right: 20px; padding-top: 40px;">
  <div class="container" style="width: auto;">
    <div class="row" style="width: auto;">
      <div class="col-md-4 col-xs-12 portfolio-item">
        <a href="#tablero-pnd" class="portfolio-link" data-toggle="modal" style="max-width: none;">

          <div class="caption">
            <div class="caption-content">
              <h3>NACIONAL</h3>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= image_url('icon2.png') %>" class="img-responsive" style="width: 100%"  alt="Slice of cake">
        </a>
      </div>
      <div id="item-map" class="col-md-4 col-xs-12 portfolio-item">
        <a href="#ejecucion-departamental" id="modal2-portfolio-link" class="portfolio-link not-active" data-toggle="modal" style="max-width: none;">
          <div id="modal2-overlay" class="overlay">
            <div class="spinner"></div>
          </div>

          <div class="caption">
            <div class="caption-content">
              <h3>DEPARTAMENTAL</h3>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= image_url('icon3.png') %>" class="img-responsive" style="width: 100%" alt="Cabin">
        </a>
      </div>
      <div id="item-progress" class="col-md-4 col-xs-12 portfolio-item">
        <a href="#ejecucion-institucional" id="modal3-portfolio-link" class="portfolio-link not-active" data-toggle="modal" style="max-width: none;">
          <div id="modal3-overlay" class="overlay">
            <div class="spinner"></div>
          </div><div class="caption">
            <div class="caption-content">
              <h3>INSTITUCIONAL</h3>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= image_url('icon4.png') %>" class="img-responsive" style="width: 100%"  alt="Circus tent">
        </a>
      </div>
    </div>
  </div>

  <div id="disqus_thread"></div>
</section>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->
<%=render 'heat_map'%>
<%=render 'entity_chart'%>
<%=render 'progress_chart'%>
<%=render 'contact_form'%>
<%=render 'info'%>


<script>
    var pgn_years = <%=  @pgn_years %>;
    var pgn_months = <%=  @pgn_months %>;
    var pnd_years = <%= @pnd_years %>;

   //var inst_count = <%# @inst.count() %>;
    //var inst_nombre = [];
    //var inst_nivelid = [];
    //var inst_entidadid = [];

    //<# @inst_lvls.each do |institute| %>
     // inst_nivelid.push('<%#institute[0] %>');
    //<# end %>

    $(".toggle").change(function() {
        if (!$(this).prop('checked')) {
            $('#lg-tec-'+this.id).css('display', 'none');
            $('#lg-user-'+this.id).css('display', 'block');
        }else {
            $('#lg-tec-'+this.id).css('display', 'block');
            $('#lg-user-'+this.id).css('display', 'none');
        }
    });
</script>

<script>

  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
   var disqus_config = function () {
   this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
   this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
   };
   */
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://caminandoal2030.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

  /* * * Disqus Reset Function * * */
  var resetDisqus = function (newIdentifier, newUrl) {
    DISQUS.reset({
      reload: true,
      config: function () {
        this.page.identifier = newIdentifier;
        this.page.url = newUrl;
      }
    });
  };
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>




